* {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
}
.espacamentoIcons {
  display: flex;
  margin: 0px auto;
  max-width: 600px;
  justify-content: space-evenly;
  padding-bottom: 50px;
}

.corFundo {
  background-color: #e5e5e5;
}

.tamanhoDivInfo {
  margin: 0px auto;
  max-width: 600px;
  background-color: #FFFFFF;
  padding-bottom: 15px;
}

.tamanhoDivMsg {
  margin: 0px auto;
  max-width: 600px;
  padding-bottom: 50px;
}

.alturaDiv {
  margin: 10px 0px 20px 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.alturaDiv h1{
  color: black;
  margin-left: 10px;
}
.alturaDiv img{
  margin-right: 10px;
}

p,
h2,
h3 {
  padding-left: 20px;
}
p{
  max-width: 600px;
  text-indent: 10px;
}

.titulo {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #198754;
}
.titulo h2 {
          color: #FFFFFF;
          text-align: center;
      }
